<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DBMS</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

   <script src="https://kit.fontawesome.com/6e0737818f.js" crossorigin="anonymous"></script>
	 
	  
	  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
	  <link href="/style.css" rel="stylesheet">
	  <style>
		  *{
				font-family: 'Raleway', sans-serif
			}
	  </style>
	  <script>
			function goBack() {
			  window.history.back();
			}
	  </script>
	  
  </head>
  <body>
	  
	<nav class="navbar navbar-expand-lg navbar-custom navbar-light nav-cus">
	  <a class="navbar-brand btn btn-outline-light border-0 text-dark btn-md" onclick="goBack()" href="#"><i class="fas fa-arrow-circle-left"></i> </a>
	  <a class="navbar-brand btn btn-outline-light border-0 text-dark btn-md" href="/">Home</a>
	  
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		   <span class="navbar-toggler-icon"></span>
	  </button>
	 
		 
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<a class="navbar-brand btn btn-outline-light border-0 text-dark btn-md" href="/aboutus">The Team</a>
		<ul class="navbar-nav ml-auto">
		  
		
			<%if(!currentUser){%>
			
			    <li class="nav-item">
					<a class="nav-link btn btn-outline-light border-0 text-dark btn-md" href="/login">Log In</a>
			    </li>
			
			<%}else{%>
				<button class=" btn btn-outline-light border-0 text-dark btn-md">
					signed in as <%=currentUser.username%>
				</button>
			    <li class="nav-item  btn btn-outline-light border-0 text-dark btn-md ">
					<a class="nav-link" href="/logout">Log Out</a>
			    </li>

			<%}%>
		
				  
		
			
		 <!-- <li class="nav-item">
			<a class="nav-link" href="/register">Sign Up</a>
		  </li> -->
		</ul>
		
	  </div>
	</nav>
	  
	  	 
		  <%if(success && success.length>0){%>
		<div class="alert alert-success p-5 m-3" role="alert">
		  <%=success%>
		</div>
		  <%}else if(error && error.length>0){%>
	  	<div class="alert alert-danger p-5 m-3" role="alert">
		  <%=error%>
		 </div>
		  <%}%>
	 