<%- include("../partials/header.ejs")%>

<form action="/faculties" method="POST">

			<div class="form-group">
				<input type="text" class="form-control " placeholder="name" name="faculty[name]">
			</div>
	
			<div class="form-group">
				<input type="text" class="form-control " placeholder="image url" name="faculty[image]">
			</div>
			<div class="form-group">
				<input type="text" class="form-control " placeholder="designation" name="faculty[designation]">
			</div>
			<div class="form-group">
				<input type="text" class="form-control " placeholder="year of joining" name="faculty[yearOfJoining]">
			</div>
			<div class="form-group">
				<input type="text" class="form-control " placeholder="highest academic degree" name="faculty[highestDegree]">
			</div>
			<div class="form-group">
				<input type="text" class="form-control " placeholder="professional affiliation" name="faculty[affiliation]">
			</div>
			<div class="form-group">
				<input type="email" class="form-control " placeholder="email" name="faculty[email]">
			</div>
			<div class="form-group">
				<input type="number" class="form-control " placeholder="phone" name="faculty[phone]">
			</div>
			<button>
				Submit	
			</button>
	<%/*
			<div class="form-group">
				<input type="text" class="form-control " placeholder="resume" name="faculty[resume]">
			</div>
			<div class="form-group">
				<input type="text" class="form-control " placeholder="biography" name="faculty[biography]">
			</div>
			<div class="form-group">
				<input type="text" class="form-control " placeholder="area of research" name="faculty[areaOfResearch]">
			</div>
			<div class="form-group">
				<input type="text" class="form-control " placeholder="awards honors" name="faculty[awardsHonors]">
			</div>
			<div class="form-group">
				<input type="text" class="form-control " placeholder="courses taught" name="award notes">
			</div>
	*/%>
</form>


<%- include("../partials/footer.ejs")%>