<%- include("./partials/header.ejs")%>

<section id="header" class="jumbotron text-center">
    <h1 class="display-3">Meet the Team</h1>
    <p class="lead text-custom">This is Us.

    </p>
    <span class="btn btn-custom">Group No. 11</span>
  </section>


    <div class="container">
      <div class="row align-item-center justify-content-center">


        <div class="col-12 col-sm-6 col-md-4  text-center">
          <div class="card">
            <img
              src="https://lh3.googleusercontent.com/pw/ACtC-3czmoa6MtWghs8Tiu_Fi0xfSZLV3bxNWUpuVG_FK9MjF93d5zxMGgdEGFDOzbnLb8OEDr8CWgAxJ_BsVw6aVlbtHvNtUUb5dyPSb4EhdCVFn308Duzpps9F_zgB4MGR7sgSl4aJB6nCDbycDqvAmIBn=w537-h538-no?authuser=0"
              class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Kiran Thomas Cherian</h5>
              <p class="card-text">Front End Team</p>
              <span class="btn btn-outline-primary btn-sm">CED18I028</span>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4   text-center">
          <div class="card">
            <img
              src="https://lh3.googleusercontent.com/pw/ACtC-3dYEw9riCN4TMoyifvFr_sQafUzqluES1lMJkGge5FMcDfY76-4UhKCeGA1SoYtkJCh9K-NPAD5BKw9ucm3sSyCMT21iI2M9h2VINtHMdx4V8bIYCjxHrY8hbP9QzICGD--EvYsVPJsNhtCYdinerFy=w357-h356-no?authuser=0"
              class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Sherin K Kariyil</h5>
              <p class="card-text">Back End Team</p>
              <span class="btn btn-outline-primary btn-sm ">CED18I050</span>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4  text-center">
          <div class="card">
            <img
              src="https://lh3.googleusercontent.com/pw/ACtC-3eCK6O1N1ET8XL_7WoUqiWx3lUbop8y_nAjJZpE3fY8kmPGXVzZXbUDAndlRCFE3V_Q3r4Jxny2dzqfhQ3hWkg7LELjUo258fGzl782no3rGJgp9-dq_GQrXM4MVhVmBkHsx3RpCQwpWQXFzAYGpCfg=w779-h767-no?authuser=0"
              class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Dhanajay Nechikkat</h5>
              <p class="card-text">Front End Team</p>
              <span class="btn btn-outline-primary btn-sm">CED18I016</span>
            </div>
          </div>
        </div>


  
  <div class="col-12 col-sm-6 col-md-4  text-center">
    <div class="card">
      <img
        src="https://scontent.fcok4-1.fna.fbcdn.net/v/t1.0-9/p960x960/83376016_2777475419146510_8916652694077177856_o.jpg?_nc_cat=101&_nc_sid=85a577&_nc_ohc=L8ECb3oHDOIAX9lRRxm&_nc_ht=scontent.fcok4-1.fna&_nc_tp=6&oh=b5d441c7753a2491ec8aebe6d2def220&oe=5F153601"
        class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Reuben Skariah Mathew</h5>
        <p class="card-text">Front End Team</p>
        <span class="btn btn-outline-primary btn-sm">CED18I042</span>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-4  text-center">
    <div class="card">
      <img
        src="https://lh3.googleusercontent.com/pw/ACtC-3dYuCeHqat-fa17cZ_a6CWvTz_N1tJO5TWNqqTaORlg9cRB5bS6m9IdxW78Dan-LVHLFyur_SkX7C-kQkSBiIAV12Lv-Q79YHbIz8IUR6RR6O_844sy-iKQc8vaiaRiu2URvganr-t7lU2qkduXYrwQ=w430-h428-no?authuser=0"
        class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Arjun Rajashekaran</h5>
        <p class="card-text">Front End Team</p>
        <span class="btn btn-outline-primary btn-sm">COE18B063</span>
      </div>
    </div>
  </div>







      </div>


	  
<%- include("./partials/footer.ejs")%>
