<%- include("./partials/header.ejs")%>

<div class="text-center home">
			
    <h1 class="d-block" style="font-weight: bold;">
        IIITDM Faculty Database
    </h1>
   

	<span class="container">  <a href="/faculties" class="btn btn-outline-info">Faculty List</a> </span>

	<span class="container">    <a href="/publications" class="btn btn-outline-info">Publications</a></span>
</div>

<ul class="slideshow">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			
		</ul>




<%- include("./partials/footer.ejs")%>
